.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    top: 250px;
    left: 500px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 290px;
    left: 520px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 400px;
    left: 800px;
  }