/* src/style.css */
body {
  background-color: #282C33;
  color: white;
  font-family: 'Fira Code', monospace;
  text-align: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px 30px;
  width: 900px;
  min-height: 583px;
}

h2 {
  color: white;
  padding: 10px;
}

input {
  border: 0 none;
  border-radius:5px;
  padding: 13px;
  width: 171px;
}

button {
  background-color: #96EB95;
  border: 0 none;
  padding: 7px;
  font-size: 20px;
  font-family: 'Fira Code', monospace;
  color: #282C33;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  width: 185px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #282C33;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 44px;
  border-radius: 5px;
  margin: 15px;
}
